//User 1 Message Box

.user1 {
    width: $auto-width;
  
      & ul li.avatar img {
        width: 50px;
        height: 50px;
        background-color: rgba(0,0,0,0);
        position: relative;
        top: -35px;
        border-radius: 50%;
      }
  
      & .text-bottom {
        position:relative;
        left: -10%;
  
        & .user-name {
            width: 166px;
            height: 18px;
            font-family: $body-font;
            font-size: 18px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1;
            letter-spacing: normal;
            color: #ff5d5d;
            }
      }
  }

  //User 2 Message Box

.user2 {
    width: $auto-width;

     & ul {

        flex-direction: row-reverse;

            &  li.avatar img {
                width: 50px;
                height: 50px;
                background-color: rgba(0,0,0,0);
                position: relative;
                top: -35px;
                border-radius: 50%;
            }
    }
  
      & .text-bottom {
        position:relative;
        left: 5%;
  
             &  .user-name {
                  width: 166px;
                  height: 18px;
                  font-family: $body-font;
                  font-size: 18px;
                  font-weight: bold;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: 1;
                  color: #5da2ff;
                }
      }
}
