// needed variables

$body-font: Roboto;
$color-white: #fff;
$color-black: #000;
$auto-height: 100%;
$auto-width: 100%;
$main-color: #f3f3f3f3;
$text-color: #333;
$body-color: #eeeeee;
$arrow-position: 64.1%;
$border-solid-10: 10px solid;
