// styling main HTML

* {
    margin: auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

body {
    background-color: $body-color;
    font-family: $body-font;
}

section {
    width: 860px;
    height: $auto-height;
    box-shadow: 0 15px 50px 0 rgba(0,0,0,0.13);
    background-color: $color-white;
    margin-top: 5%;
}